body {
    background-color: #000000;
}
h2 {
    color: white;
    text-align: center;
    font-weight: 300;
    font-family: monospace;
}
p {
    color: white;
    text-align: center;
    font-family: monospace;
}
hr {
    color: white;
    width: 230px;
}
